---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>一个社畜🥺</li>
            <li>爱折腾🤯</li>
            <li>喜欢爬山🧗</li>
            <li>喜欢跑步🏃</li>
            <li>喜欢滑板🛹</li>
            <li>记得打卡，睡眠规律，健康饮食，锻炼身体，保持体型 ⚡️</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://www.instagram.com/wbconnie/?hl=en" target="_blank"> Instagram</a>
            </li>
            <li>
              <a href="https://github.com/wbconnie" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
